@import '../../variables.less';

.tool-menu {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: @headerHeight;
  max-height: calc(100% - @headerHeight - @footerHeight);
  overflow-y: auto; // TODO better make single submenus scrollable instead
  max-width: 600px;

  .ant-menu {

    &.ant-menu-inline-collapsed {
      width: 40px;
    }

    li:last-child>span {
      width: 100%;
    }

    .ant-menu-sub.ant-menu-inline > .ant-menu-item {
      height: auto;
      width: 100%;
      padding: 0 !important;
      border: none;
    }

    &:not(.ant-menu-inline-collapsed) .ant-menu-submenu-title,
    &:not(.ant-menu-inline-collapsed) .ant-menu-item {
      padding-left: 1rem !important;
    }

    .ant-menu-item,
    .ant-menu-submenu {
      &:active,
      &:focus {
        background: none;
      }

      margin: 0;

      .ant-menu-submenu-title {
        margin: 0;
      }

      &.ant-menu-item-selected,
      &.ant-menu-submenu-open {

        >.ant-menu-submenu-title {
          font-weight: bolder;
        }

        &::after {
          display: none;
        }

      }
    }
  }
}

.tool-menu,
.ant-menu-submenu-popup {
  button,
  button.react-geo-togglebutton {
    border: none !important;
    border-radius: 0;
  }

  .wmsbox {
    display: flex;
    flex-direction: column;
  }
}

.ant-menu-submenu-popup > .ant-menu-sub > .ant-menu-item {
  height: 100%;
  padding: 0 !important;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}
