.permalink-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icons > span {
    font-size: 1.5rem;
    transition: color .3s;

    &:hover {
      color: var(--secondaryColor);
    }

    &.anticon {
      cursor: pointer;
      margin: 0 1rem;
    }
  }

  .link {
    padding-top: 1rem;
    display: flex;
    align-self: stretch;
    align-items: center;
    color: unset;

    .ant-input {
      flex: 1;
    }

    .anticon {
      cursor: pointer;
      padding: 1rem;
    }
  }
}
