.print {

  background-color: white;

  .print-form {
    padding: 10px;

    .ant-row {
      margin-bottom: 10px;
    }

    .print-button {
      svg.svg-inline--fa {
        margin-right: 10px;
      }
    }
  }
}
