<!DOCTYPE html>
<html>
  <head>
    <base href="<%= appPrefix %>" />
    <link href="favicon.ico" rel="icon">
    <style>
      .loadmask {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: -webkit-translate(-50%, -50%);
        transform: -moz-translate(-50%, -50%);
        transform: -ms-translate(-50%, -50%);
        z-index: 999;
      }

      .loadmask-hidden {
        animation: fadeOut 1.5s forwards;
      }

      .loadmask > img {
        min-width: 50%;
        margin: 0 auto;
        display: block;
      }

      @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          z-index: -1;
          opacity: 0;
          top: 0;
          left: 0;
          transform: scale(0.5);
        }
      }

      @keyframes heartBeat {
        0% {
          opacity: 0.2;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0.2;
        }
      }
    </style>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="loadmask" class="loadmask">
      <img src="loading-placeholder.png" id="loadmask-image">
      <span id="loading-text">
        Loading, please wait…
      </span>
    </div>
    <script src="./gis-client-config.js"></script>
    <script>
      if (!window.clientConfig) {
        console.warn('No config found, client defaults will be used.');
        window.clientConfig = {};
      }
    </script>
    <script>
      const regex = /\applicationId=(\d+)/;
      const appIdCand = location.search.match(regex);
      let appId = appIdCand ? appIdCand[1] : null;
      let logoPath = './shogun_spinner.gif';
      if (appId) {
        logoPath = localStorage.getItem(`SHOGun_Logo_Path_${appId}`);
      }
      document.getElementById('loading-text').style.display = 'none';
      const loadingImageElement = document.getElementById('loadmask-image');
      if (logoPath && loadingImageElement) {
        loadingImageElement.src = logoPath;
      }
    </script>

    <div id="app" class="app"></div>
  </body>
</html>
