.geometry-edit-tb {
  position: absolute;
  left: -45px;
  top: 0;
  height: 100%;

  button {
      background: var(--secondaryColor);
      border-color: var(--secondaryColor);

      &:hover {
        background: var(--ant-primary-color-hover);
        border-color: var(--ant-primary-color-hover);
      }
    }
}
