.attribution-drawer {
  form {
    width: 100%;

    .attribute-row {
      display: flex;

      .ant-form-item {
        flex: 1;
      }
    }

    .add-attribute-button {
      width: 100%;

      span {
        padding-left: 5px;
      }
    }

    .submit-attributes-button {
      width: 100%;
    }
  }
}

