.attribution-drawer {
  position: absolute;
  top: var(--headerHeight);
  bottom: var(--footerHeight);
  z-index: 499;

  .anticon.anticon-minus-circle {
    padding-bottom: 25px;
    padding-left: 5px;
  }
}

