.ant-drawer.map-drawer {
  position: absolute;
  top: var(--headerHeight);
  bottom: var(--footerHeight);
  z-index: 1;
  text-align: justify;

  &.ant-drawer-right {
    .ant-drawer-header-title {
      flex-direction: row-reverse;

      button {
        margin-inline-end: unset;
      }
    }
  }
}
