.ant-tree.layertree {
  .ant-tree-treenode {
    width: 100%;
  }

  .ant-tree-treenode:first-of-type {
    padding-top: 5px;
  }

  .ant-tree-treenode:last-of-type {
    padding-bottom: 5px;
  }

  .ant-tree-node-selected,
  .ant-tree-node-content-wrapper:hover {
    background-color: transparent;
  }

  .ant-tree-node-content-wrapper {
    flex: 1;
    overflow-x: auto;

    .ant-tree-title {
      .tree-node-header {
        display: flex;
        align-items: center;

        .layer-name {
          margin-right: 8px;
        }

        .layer-icons-group {
          margin: 0 15px;

          .layer-icon {
            margin-right: 8px;
          }

          .time-layer-icon {
            color: #000000;

            &:hover {
              color: #6d6d6d;
            }
          }

          .filtered-icon {
            color: #bfbfbf;
          }
        }

        .loading-indicator {
          width: 20px;
          color: #bfbfbf;
          opacity: 0.7
        }

        span {
          flex: 16;
        }

        .ant-dropdown-trigger {
          flex: 1;
          align-self: center;
          // creates clickable area around svg
          padding-left: 5px;
          padding-right: 5px;
          margin-left: -5px;
          margin-right: 0px; // 5px - 5px
        }
      }

      .ant-slider {
        flex: 1;
        margin-left: 27px;
      }

      .layer-transparency {
        padding-right: 30px;
        display: flex;
      }
    }
  }
}

.tree-wrapper .ant-tree-checkbox {
  top: 2.5px;
  align-self: flex-start !important;
}
