.map {
    .bg-layer-chooser {
        bottom: 95px;
        width: 99%;
        right: 10px;

        .layer-cards {
            overflow: auto;
            width: calc(100% - 170px);
        }
    }
}