.multi-search {
  position: relative;

  .ant-space-compact {
    width: 100%;

    button {
      border-radius: 0;

      &.ant-btn-variant-outlined:hover {
        color: var(--secondaryColor);
      }
    }
  }

  .search-result-div {
    box-shadow: var(--componentShadow);
    margin-top: 2px;
    top: unset;
    width: 100%;

    .ant-collapse {
      overflow-y: auto;
      max-height: 80vh;
      background-color: white;

      .ant-collapse-header {
        line-height: unset;
        border-bottom: solid 1px var(--secondaryColor);
        background-color: color-mix(in srgb, var(--secondaryColor) 15%, white);
      }

      .ant-collapse-body {
        max-height: 25vh;
        overflow-y: auto;
        padding: unset;

        .ant-list-item {
          justify-content: flex-start;

          .result-prefix:not(:empty) {
            width: 130px;

            .ant-tag {
              width: 100%;
              text-align: center;
            }
          }

          .result-text {
            flex: 1;
          }
        }
      }
    }
  }

  .no-search-result-div {
    background-color: white;
    position: absolute;
    width: 100%;
  }
}
