#map-toolbar {
  position: absolute;
  top: calc(var(--headerHeight) + 16px);
  right: 10px;
  transition: 0.3s;
  flex-direction: column;
  z-index: 1;

  &.drawer-open {
    right: calc(var(--drawerWidth) + 10px);
  }

  .ant-btn {
    margin: 5px;
    display: block;
    color: var(--complementaryColor);
    background: var(--primaryColor);
    border-color: var(--primaryColor);

    &:hover {
      background: var(--secondaryColor) !important;
      border-color: var(--secondaryColor);
    }
  }
}
