.header {
  position: absolute;
  height: var(--headerHeight);
  width: 100%;
  min-height: 0;
  top: 0;
  margin-bottom: 0;
  z-index: 2;

  background-color: var(--primaryColor);
  display: flex;
  box-shadow: var(--componentShadow);
  font-size: .95em;

  .item-container {
    display: flex;
    align-items: center;

    &.left-items {
      justify-content: flex-start;

      .logo {
        height: 100%;
        padding: 3px;
      }

      .title {
        color: var(--complementaryColor);
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: 2rem;
        text-overflow: ellipsis;
        overflow: hidden;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &.center-items {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    &.right-items {
      justify-content: flex-end;
      padding-right: 5px;
    }
  }

  // Adjustments for Smartphones
  @media (max-width: 599px) {
    .item-container {
      &.left-items {
        .logo {
          max-width: 60px;
          height: auto;
        }

        .title {
          display: none;
        }
      }
    }
  }

  // Adjustments for Tablets
  @media (max-width: 1300px) {
    .item-container {
      &.left-items {
        max-width: 400px;

        .title {
          font-size: 0.9rem;
          font-weight: bold;
          margin-left: 1rem;
        }
      }
    }
  }
}
