@import '../../variables.less';

.header {
  position: absolute;
  height: @headerHeight;
  width: 100%;
  min-height: 0;
  top: 0;
  margin-bottom: 0;
  z-index: 2;

  background-color: var(--primaryColor);
  display: flex;
  padding: 0 .5rem;
  box-shadow: @componentShadow;
  font-size: .95em;

  .title {
    color: var(--complementaryColor);
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 2rem;
    white-space: pre;
  }

  .logo {
    height: 100%;
    padding: 3px;
  }

  .item-container {
    display: flex;
    align-items: center;

    &.left-items {
      justify-content: flex-start;
    }

    &.center-items {
      flex: 1;
      display: flex;
      justify-content: center;

      .react-geo-nominatimsearch.ant-select-auto-complete {
        width: 60%;
      }
    }

    &.right-items {
      justify-content: flex-end;
    }
  }

  // Adjustments for Smartphones
  @media (max-width: 599px) {
    .item-container {
      .title {
        display: none;
      }

      &.left-items {
        .logo {
          max-width: 60px;
          height: auto;
        }
      }

      &.center-items {
        .react-geo-nominatimsearch.ant-select-auto-complete {
          width: 90%;
          max-width: 200px;
        }
      }
    }
  }

  // Adjustments for Tablets
  @media (max-width: 1300px) {
    .item-container {
      .title {
        display: none;
      }

      &.left-items {
        width: 100px;
      }

      &.center-items {
        .react-geo-nominatimsearch.ant-select-auto-complete {
          width: 90%;
        }
      }

      &.right-items {
        width: 100px;
      }
    }
  }
}
