.add-layer-modal {

  min-width: 60vw;

  .ant-modal-content {
    display: flex;
    flex-direction: column;
    max-height: 75vh;

    .ant-modal-body {
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
    }
  }

  .ant-table-cell {
    padding: 0.2rem;
  }

  .ant-table-wrapper {
    padding-top: 0.5rem;
  }

  .ant-typography.error {
    color: red;
  }

  .url-input {
    padding: 10px 0;
  }

}
