.user-menu {
  padding: 6px;

  .userchip {
    .ant-avatar {
      border: 1px solid var(--complementaryColor);
      height: 30px;
      width: 30px;
      transition: border .3s;

      &:hover {
        border-color: var(--secondaryColor);
      }
    }

    .username {
      span {
        font-size: 0.6em;
      }

      transition: color .3s;

      &:hover {
        color: var(--secondaryColor);
      }
    }

    .ant-dropdown {
      svg {
        width: 20px;
        padding-right: 10px;
      }

      .username-menu-item {
        margin: 13px;
        cursor: default;
        text-align: right;

        .item-username {
          font-weight: bold;
        }

        .item-fullname {
          font-size: small;
        }
      }
    }
  }
}
